<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>케로로월드...</title>
</head>

<body>
<!-- 구역을 나누는 태그들 -->

<!-- 구역 내 콘텐츠 태그들 -->
<h1>케로로월드</h1>
<h2>케로로월드에 오신 것을 환영합니다</h2>
만든이 <a href="https://twitter.com/nyangzoop"> 마료 </a>
<img src="https://ticketimage.interpark.com/Play/image/etc/07/07002966-04.gif" /><br>
username: <input type="text" />
password: <input type="text" /><br>
<button>Signup</button>
<button>Login</button><br>
</body>

</html>